@model IEnumerable<ScoreZone.Web.Data.NoticiasEntities.Root>
@{
    ViewData["Title"] = "ScoreZone";
}


<div class="container mt-5">
    @foreach (var item in Model)
    {
        <div class="row mt-4">
            <div class="col-md-3">
                <section class="col-one">
                    <article class="sub-module quicklinks">
                        <div class="quicklinks__container">
                            <header class="quicklinks__header">
                            <h2 class="quicklinks__heading d-flex justify-content-center">Quick Links</h2>
                                </header>
                            <ul class="quicklinks_list d-flex flex-column justify-content-center align-content-center" >
                                <li class="quicklinks_list__item">
                                    <a name="&amp;lpos=fp:quicklinks:1:mlbplayoffs" href="#" class="quicklinks_list__link ">
                                        <div class="quicklinks_list__icon"><img src="https://a4.espncdn.com/combiner/i?img=%2Fi%2Fespn%2Fmisc_logos%2F500%2Fmlb.png&amp;w=60&amp;h=60&amp;scale=crop&amp;cquality=80&amp;location=origin" alt="" class="lazyloaded"></div>
                                        <div class="quicklinks_list__detail">
                                            <span class="quicklinks_list__name">MLB Playoffs</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="quicklinks_list__item">
                                    <a name="&amp;lpos=fp:quicklinks:2:nhlfreeagency" href="#" class="quicklinks_list__link ">
                                        <div class="quicklinks_list__icon"><img src="https://a1.espncdn.com/combiner/i?img=%2Fi%2Fespn%2Fmisc_logos%2F500%2Fnhl.png&amp;w=60&amp;h=60&amp;scale=crop&amp;cquality=80&amp;location=origin" alt="" class="lazyloaded"></div>
                                        <div class="quicklinks_list__detail">
                                            <span class="quicklinks_list__name">NHL Free Agency</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="quicklinks_list__item">
                                    <a name="&amp;lpos=fp:quicklinks:3:mondaynightpickem" href="#" class="quicklinks_list__link ">
                                        <div class="quicklinks_list__icon"><img src="https://a2.espncdn.com/combiner/i?img=%2Fi%2Ffantasy%2Fffl.png&amp;w=60&amp;h=60&amp;scale=crop&amp;cquality=80&amp;location=origin" alt="" class="lazyloaded"></div>
                                        <div class="quicklinks_list__detail">
                                            <span class="quicklinks_list__name">Monday Night Pick'em</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="quicklinks_list__item">
                                    <a name="&amp;lpos=fp:quicklinks:4:ufcfightnightpickem" href="#" class="quicklinks_list__link ">
                                        <div class="quicklinks_list__icon"><img src="https://a1.espncdn.com/combiner/i?img=%2Fredesign%2Fassets%2Fimg%2Ficons%2FESPN%2Dicon%2Dmma.png&amp;w=80&amp;h=80&amp;scale=crop&amp;cquality=40&amp;location=origin" alt="" class="lazyloaded"></div>
                                        <div class="quicklinks_list__detail">
                                            <span class="quicklinks_list__name">UFC Fight Night Pick'em</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="quicklinks_list__item">
                                    <a name="&amp;lpos=fp:quicklinks:5:playoffbaseballclassic" href="#" class="quicklinks_list__link ">
                                        <div class="quicklinks_list__icon"><img src="https://a3.espncdn.com/combiner/i?img=%2Fredesign%2Fassets%2Fimg%2Ficons%2FESPN%2Dicon%2Dbaseball.png&amp;w=80&amp;h=80&amp;scale=crop&amp;cquality=40&amp;location=origin" alt="" class="lazyloaded"></div>
                                        <div class="quicklinks_list__detail">
                                            <span class="quicklinks_list__name">Playoff Baseball Classic</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article>
                </section>
            </div>
            <div class="col-md-8">
                <a class="card" href="@Url.Action("ResultNews","Home",new {resul =item.articles[0].links.api.news.href })">
                    <img src="@item.articles[0].images[0].url" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">@item.articles[1].images.LastOrDefault().name</h5>
                        <p class="card-text">@item.articles[1].images.LastOrDefault().caption</p>

                    </div>
                </a>
            </div>

        </div>
    }
    @*<div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-8">
            <a class="card" href="@Url.Action("ResultNews","Home",new {resul =Model.articles[0].links.api.news.href })">
                <img src="@Model.articles[0].images[0].url" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">@Model.articles[1].images.LastOrDefault().name</h5>
                    <p class="card-text">@Model.articles[1].images.LastOrDefault().caption</p>

                </div>
            </a>
        </div>

    </div>*@
    @*<div class="row mt-4">
            <div class="col-md-3">
            </div>
            <div class="col-md-8">
                <a class="card" href="@Url.Action("ResultNews","Home",new {resul =ViewBag.Football.articles[0].links.api.news.href })">
                    <img src="@ViewBag.Football.articles[0].images[0].url" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">@ViewBag.Football.articles[0].images[0].name</h5>
                        <p class="card-text">@ViewBag.Football.articles[0].images[0].caption</p>

                    </div>
                </a>
            </div>

        </div>

        <div class="row mt-4">
            <div class="col-md-3">
            </div>
            <div class="col-md-8">
                <a class="card" href="@Url.Action("ResultNews","Home",new {resul =ViewBag.NFL.articles[0].links.api.news.href })">
                    <img src="@ViewBag.NFL.articles[0].images[0].url" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">@ViewBag.NFL.articles[0].images[0].name</h5>
                        <p class="card-text">@ViewBag.NFL.articles[0].images[0].caption</p>

                    </div>
                </a>
            </div>

        </div>

        <div class="row mt-4">
            <div class="col-md-3">
            </div>
            <div class="col-md-8">
                <a class="card" href="@Url.Action("ResultNews","Home",new {resul =ViewBag.NBA.articles[0].links.api.news.href })">
                    <img src="@ViewBag.NBA.articles[0].images[0].url" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">@ViewBag.NBA.articles[0].images[0].name</h5>
                        <p class="card-text">@ViewBag.NBA.articles[0].images[0].caption</p>

                    </div>
                </a>
            </div>

        </div>*@
</div>



