@model ScoreZone.Web.Data.NoticiasEntities.Root2
@{
    ViewData["Title"] = "ResultNews";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-8">
            @if (Model.headlines != null && Model.headlines[0].video.Count > 0)
            {
            <div class="card">
                @if (Model.headlines[0].video[0].links.source != null)
                {
                    <video src="@Model.headlines[0].video[0].links.source.HD.href" width="640" height="480" controls>
                    </video>
                }
                else
                {
                    <img src="https://www.yodot.com/images/broken-avi-file-repai.png" width="640" height="480" />

                }


                <div class="card-body">
                    <h5 class="card-title">
                        @if (Model.headlines[0].related != null && Model.headlines[0].related.Count > 0)
                        {
                            @Model.headlines[0].related[0].title
                        }
                    </h5>
                    <p class="card-text">@Model.headlines[0].description</p>


                </div>
            </div>
            }
            else if(Model.headlines != null)
            {
        <div class="card">
            <img src="https://www.yodot.com/images/broken-avi-file-repai.png" class="card-img-top" alt="..." width="640" height="480">
            <div class="card-body">

                <h5 class="card-title">@Model.headlines[0].related[0].title</h5>
                <p class="card-text">@Model.headlines[0].description</p>

            </div>
        </div>
            }
            else
            {
                <p>La noticia ya no esta disponible para ver el video</p>
            }
        </div>
    </div>

</div>

